<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="teamproject.ssja.mapper.AdminPageMapper">

	<resultMap id="MembersListMap" type="MembersDto">
		<id property="M_NO" column="M_NO" />
		<result property="M_ID" column="M_ID" />
		<result property="M_PW" column="M_PW" />
		<result property="M_NAME" column="M_NAME" />
		<result property="M_ADDRESS1" column="M_ADDRESS1" />
		<result property="M_ADDRESS2" column="M_ADDRESS2" />
		<result property="M_ZIPCODE" column="M_ZIPCODE" />
		<result property="M_BIRTH" column="M_BIRTH" />
		<result property="M_GRADE" column="M_GRADE" />
		<result property="M_EMAIL" column="M_EMAIL" />
		<result property="M_PHONE" column="M_PHONE" />
		<result property="M_POINT" column="M_POINT" />
		<result property="M_DATE" column="M_DATE" />
		<result property="M_NICKNAME" column="M_NICKNAME" />
	</resultMap>

	<select id="getMemberListTotalCount" resultType="long">    
    <![CDATA[
              	SELECT count(*) FROM Members 
        ]]>
	</select>

	<select id="getMemberListWithPaging" resultMap="MembersListMap">    
    <![CDATA[
	select * from 
        	(
			    selecte
			        rownum rnum , A.*
			    from 
			    (SELECT  * FROM Members order by M_NO) A 
		    	where rownum <= #{pageNum} * #{amount} 
		    )
			where rnum > (#{pageNum}-1) * #{amount}
    ]]>
	</select>
	
	<resultMap id="MembersSearchListMap" type="MembersSearchDto">
		<id property="M_NO" column="M_NO" />
		<result property="M_ID" column="M_ID" />
		<result property="M_PW" column="M_PW" />
		<result property="M_NAME" column="M_NAME" />
		<result property="M_ADDRESS1" column="M_ADDRESS1" />
		<result property="M_ADDRESS2" column="M_ADDRESS2" />
		<result property="M_ZIPCODE" column="M_ZIPCODE" />
		<result property="M_BIRTH" column="M_BIRTH" />
		<result property="M_GRADE" column="M_GRADE" />
		<result property="M_EMAIL" column="M_EMAIL" />
		<result property="M_PHONE" column="M_PHONE" />
		<result property="M_POINT" column="M_POINT" />
		<result property="M_DATE" column="M_DATE" />
		<result property="M_NICKNAME" column="M_NICKNAME" />
		<result property="type" column="type" />
		<result property="keyword" column="keyword" />
	</resultMap>

	<select id="getMemberSearchList"  parameterType="string"   resultMap="MembersSearchListMap">    

	SELECT  * FROM Members              
                where                
               <choose>
               <when test="#{type} != null and type.equals('m_name')">
                m_name = '${keyword}'
               </when>
                <when test="#{type} != null and type.equals('m_id')">
                m_id = '${keyword}'
               </when>
                <when test="#{type} != null and type.equals('m_grade')">
                m_grade = '${keyword}'
               </when>
               </choose> 
                   
               
	</select>	
	
	<resultMap id="ProductsListMap" type="ProductDto">
		<id property="PRO_NO" column="PRO_NO" />
		<result property="V_NO" column="V_NO" />
		<result property="P_C_NO" column="P_C_NO" />
		<result property="PRO_PRICE" column="PRO_PRICE" />
		<result property="PRO_QUANTITY" column="PRO_QUANTITY" />
		<result property="PRO_BANNERIMG" column="PRO_BANNERIMG" />
		<result property="PRO_WISH" column="PRO_WISH" />
		<result property="PRO_SELLCOUNT" column="PRO_SELLCOUNT" />
		<result property="PRO_HIT" column="PRO_HIT" />
		<result property="PRO_BIZNAME" column="PRO_BIZNAME" />
		<result property="PRO_NAME" column="PRO_NAME" />
		<result property="PRO_DATE" column="PRO_DATE" />
	</resultMap>

	<select id="getProductListTotalCount" resultType="long">    
    <![CDATA[
              	SELECT count(*) FROM Product 
        ]]>
	</select>

	<select id="getProductListWithPaging" 	resultMap="ProductsListMap">    
    <![CDATA[
	select * from 
        	(
			    select
			        rownum rnum , A.*
			    from 
			    (SELECT  * FROM Product order by PRO_NO desc) A 
		    	where rownum <= #{pageNum} * #{amount} 
		    )
			where rnum > (#{pageNum}-1) * #{amount}
    ]]>
	</select>
	
	<resultMap id="ProductsSearchListMap" type="ProductsSearchDto">
		<id property="PRO_NO" column="PRO_NO" />
		<result property="V_NO" column="V_NO" />
		<result property="P_C_NO" column="P_C_NO" />
		<result property="PRO_PRICE" column="PRO_PRICE" />
		<result property="PRO_QUANTITY" column="PRO_QUANTITY" />
		<result property="PRO_BANNERIMG" column="PRO_BANNERIMG" />
		<result property="PRO_WISH" column="PRO_WISH" />
		<result property="PRO_SELLCOUNT" column="PRO_SELLCOUNT" />
		<result property="PRO_HIT" column="PRO_HIT" />
		<result property="PRO_BIZNAME" column="PRO_BIZNAME" />
		<result property="PRO_NAME" column="PRO_NAME" />
		<result property="PRO_DATE" column="PRO_DATE" />
		<result property="type" column="type" />
		<result property="keyword" column="keyword" />
	</resultMap>
	
	<select id="getProductsSearchList"  parameterType="string"   resultMap="ProductsSearchListMap">    

	SELECT  * FROM Product              
                where                
               <choose>
               <when test="#{type} != null and type.equals('PRO_NO')">
                PRO_NO = '${keyword}'
               </when>      
               <when test="#{type} != null and type.equals('PRO_BIZNAME')">
                PRO_BIZNAME = '${keyword}'
               </when> 
                        
               </choose>                          
	</select>	
	
	<resultMap id="PurchasesListMap" type="PurchaseDto">
		<id property="PUR_NO" column="PUR_NO" />
		<result property="M_NO" column="M_NO" />
		<result property="PUR_TOT" column="PUR_TOT" />
		<result property="PUR_DC" column="PUR_DC" />
		<result property="PUR_PAY" column="PUR_PAY" />
		<result property="PUR_PAYMENT" column="PUR_PAYMENT" />
		<result property="PUR_DATE" column="PUR_DATE" />
		<result property="PUR_DVADDRESS" column="PUR_DVADDRESS" />
		<result property="PUR_DV" column="PUR_DV" />
	</resultMap>

	<select id="getPerchaseListTotalCount" resultType="long">    
    <![CDATA[
              	SELECT count(*) FROM purchase 
        ]]>
	</select>

	<select id="getPerchaseListWithPaging" 	resultMap="PurchasesListMap">    
    <![CDATA[
	select * from 
        	(
			    select
			        rownum rnum , A.*
			    from 
			    (SELECT  * FROM purchase order by PUR_NO desc) A 
		    	where rownum <= #{pageNum} * #{amount} 
		    )
			where rnum > (#{pageNum}-1) * #{amount}
    ]]>
	</select>
	
	<resultMap id="PurchasesSearchListMap"  type="PurchaseSearchDto">
		<id property="PUR_NO" column="PUR_NO" />
		<result property="M_NO" column="M_NO" />
		<result property="PUR_TOT" column="PUR_TOT" />
		<result property="PUR_DC" column="PUR_DC" />
		<result property="PUR_PAY" column="PUR_PAY" />
		<result property="PUR_PAYMENT" column="PUR_PAYMENT" />
		<result property="PUR_DATE" column="PUR_DATE" />
		<result property="PUR_DVADDRESS" column="PUR_DVADDRESS" />
		<result property="PUR_DV" column="PUR_DV" />
		<result property="type" column="type" />
		<result property="keyword" column="keyword" />
	</resultMap>
	
	<select id="getPurchasesSearchList"  parameterType="string"   resultMap="PurchasesSearchListMap">    
	
	SELECT  * FROM   purchase            
                where                
               <choose>
               <when test="#{type} != null and type.equals('PUR_NO')">
                PUR_NO = '${keyword}'
               </when>      
               <when test="#{type} != null and type.equals('M_NO')">
                M_NO = '${keyword}'
               </when>                         
               </choose>                          
	
	</select>		
	
	
	
	<resultMap id="CouponsListMap" type="CouponDTO">
		<id property="c_no" column="c_no" />
		<result property="c_startdate" column="c_startdate" />
		<result property="c_duedate" column="c_duedate" />
		<result property="c_name" column="c_name" />
		<result property="c_dcper" column="c_dcper" />		
	</resultMap>

	<select id="getCouponListTotalCount" resultType="long">    
    <![CDATA[
              	SELECT count(*) FROM coupon 
        ]]>
	</select>

	<select id="getCouponListWithPaging" 	resultMap="CouponsListMap">    
    <![CDATA[
	select * from 
        	(
			    select
			        rownum rnum , A.*
			    from 
			    (SELECT  * FROM coupon order by c_no desc) A 
		    	where rownum <= #{pageNum} * #{amount} 
		    )
			where rnum > (#{pageNum}-1) * #{amount}
    ]]>
	</select>
	
	<insert id="insertCoupon">
    <![CDATA[

        	INSERT INTO coupon (c_no,c_startdate,c_duedate,c_name,c_dcper)
        	VALUES (C_SEQ.NEXTVAL, #{c_startdate}, #{c_duedate}, #{c_name}, #{c_dcper})
]]>        

	</insert>
	
	<select id="read" resultMap="CouponsListMap">
    	<![CDATA[
        	select * from coupon where c_no=#{c_no}
        ]]>
	</select>
	
	<update id="updateCoupon" parameterType="CouponDTO">
		<![CDATA[
        	update coupon set c_name=#{c_name}, c_dcper=#{c_dcper},c_startdate=#{c_startdate},c_duedate=#{c_duedate} where c_no=#{c_no}
        ]]>
	</update>

	<delete id="deleteCoupon" parameterType="CouponDTO">
		 <![CDATA[
        	delete from coupon where c_no = #{c_no}
        ]]>
	</delete>
	
	<resultMap id="SalesListMap" type="PurchaseDto">
		<id property="PUR_NO" column="PUR_NO" />
		<result property="PUR_PAY" column="PUR_PAY" />
		<result property="PUR_DATE" column="PUR_DATE" />
	</resultMap>
	
	<select id="getDailySalesList" resultType="MAP">    
    <![CDATA[
SELECT TRUNC(PUR_DATE) AS Daily, SUM(PUR_tot) AS DailyTotalPay
FROM purchase
GROUP BY TRUNC(PUR_DATE)
ORDER BY Daily

        ]]>
	</select>

<select id="getMonthlySalesList" resultType="MAP">    
    <![CDATA[
SELECT
    TO_CHAR(PUR_DATE, 'YYYY-MM') AS Month,
    SUM(PUR_tot) AS MonthlyTotalPay
FROM
    purchase
GROUP BY
    TO_CHAR(PUR_DATE, 'YYYY-MM')
ORDER BY
    Month

        ]]>
	</select>	
	<select id="getYearlySalesList" resultType="MAP">    
    <![CDATA[
SELECT
    TO_CHAR(PUR_DATE, 'YYYY') AS Year,
    SUM(PUR_tot) AS YearlyTotalPay
FROM
    purchase
GROUP BY
    TO_CHAR(PUR_DATE, 'YYYY')
ORDER BY
    Year

        ]]>
	</select>
	<delete id="deleteExpiredCoupon" >
	  <![CDATA[ delete from coupon where  c_duedate < SYSDATE - (5.1 / (24 * 60))  ]]>
	</delete>
	
	<insert id="renewYsterdayProfit">
	SELECT TRUNC(SYSDATE -1) AS p_date,  SUM(PUR_TOT) AS DAILY_TOTAL_SALES
	FROM purchase
	WHERE TRUNC(PUR_DATE) = TRUNC(SYSDATE-1)
	GROUP BY TRUNC(SYSDATE-1)
	</insert>
	
	</mapper>