<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="teamproject.ssja.mapper.BoardMapper">
<!-- 	<select id="selectList" resultMap="BoardDtoMap">
    	<![CDATA[
        	SELECT * FROM board ORDER BY b_no desc
        ]]>
	</select> -->
<!-- 게시글 카테고리 -->
	<select id="selectBoardCategorys" resultMap="BoardCategoryDtoMap">
    	<![CDATA[
        	select * from board_category
        ]]>
	</select>
	
	<select id="selectBoardCategory" resultMap="BoardCategoryDtoMap">
    	<![CDATA[
        	select * from board_category where b_c_name=#{bcname}
        ]]>
	</select>
	
	<select id="selectBC" resultMap="BoardCategoryDtoMap">
    	<![CDATA[
        	select * from board_category where b_c_no=#{bcno}
        ]]>
	</select>
	
<!-- 게시글 -->
	<!-- 유저나 판매자 본인이 작성한 qna 게시판 리스트 -->	
	<select id="selectMemberQnaList" parameterType="teamproject.ssja.page.Criteria" resultMap="BoardDtoMap">
		<![CDATA[
			select * from 
        	(
			    select
			        rownum rnum , A.*
			    from 
			    (select
			     * 
		    	 from board where b_c_no=#{bcno} and m_no = #{bmno} order by b_no desc) A 
		    	where rownum <= #{pageNum} * #{amount} 
		    )
			where rnum > (#{pageNum}-1) * #{amount}
		]]>
	</select>

	<select id="read" resultMap="BoardDtoMap">
    	<![CDATA[
        	select * from board where b_no=#{bno}
        ]]>
	</select>
	
	<insert id="insertBoard" parameterType="BoardDto">
        	INSERT INTO board (B_NO, M_NO, B_C_NO, B_WRITER, B_TITLE, B_CONTENT, B_DATE, B_LIKE, B_HIT, B_EVAL, PRO_NO)
        	VALUES (B_SEQ.NEXTVAL, #{bmno}, #{bbcno}, #{bwriter}, #{btitle}, #{bcontent}, sysdate, #{blike}, #{bhit}, #{beval}, #{prono})
	        <selectKey keyProperty="bno" resultType="int" order="AFTER">
				select B_NO
				from (SELECT B_NO ,rowNum
				FROM board
				WHERE M_NO=#{bmno}
				order by B_NO desc)
				where rownum=1
			</selectKey>
	</insert>
	
	<update id="updateBoard" parameterType="BoardDto">
		<![CDATA[
        	update board set b_title=#{btitle}, b_content=#{bcontent} where b_no=#{bno}
        ]]>
	</update>

	<delete id="deleteBoard" parameterType="BoardDto">
		 <![CDATA[
        	delete from board where b_no = #{bno}
        ]]>
	</delete>

	<!-- 게시글 조회수 -->
	<update id="updateHit" parameterType="long">
		<![CDATA[
        	update board set b_hit=b_hit+1 where b_no=#{bno}
        ]]>
	</update>
	
	<!-- 게시글의 이미지를 삭제했을경우 테이블의 product를 null로 업데이트  -->
	<update id="deleteBoardProduct" parameterType="long">
		<![CDATA[
			update board set PRO_NO= null where b_no=#{bno}
        ]]>
	</update>
	
	<!-- 게시글의 상품번호를 업데이트  -->
	<update id="updateBoardProduct" parameterType="long">
		<![CDATA[
			update board set PRO_NO = #{proNo} where b_no=#{bno}
        ]]>
	</update>
	
	<!-- 해당 게시글의 좋아요 개수  -->
	<select id="selectBoardLikes" parameterType="long" resultType="long">
    	<![CDATA[
        	SELECT b_like FROM board where b_no = #{bno}
        ]]>
	</select>
	
	<!-- 게시글 좋아요 관련 +(해당 글에 해당 멤버의 좋아요가 있는지 확인) -->
	<select id="selectBIsLiked" parameterType="BoardIsLikedDto" resultMap="BoardIsLikedMap">
    	<![CDATA[
        	select * from BOARDLIKED where b_no=#{likebno} and m_no=#{likebmno}
        ]]>
	</select>

	<!-- 게시글 좋아요 관련 +(해당 글에 해당 멤버의 좋아요 추가) -->
	<insert id="insertBLiked" parameterType="BoardIsLikedDto">
	    <![CDATA[
        	INSERT INTO BOARDLIKED (B_NO, M_NO, B_L_DATE)
        	VALUES (#{likebno}, #{likebmno}, sysdate) 
        ]]>
	</insert>

	<!-- 게시글 좋아요 관련 +(총 좋아요 수 증가) -->
	<update id="updateBLikeUp" parameterType="long">
		<![CDATA[
        	update board set b_like=b_like+1 where b_no=#{bno}
        ]]>
	</update>
	
	<!-- 게시글 좋아요 관련 -(총 좋아요 수 감가) -->
	<update id="updateBLikeDown" parameterType="long">
		<![CDATA[
        	update board set b_like=b_like-1 where b_no=#{bno}
        ]]>
	</update>

	<!-- 게시글 좋아요 관련 -(해당 글에 해당 멤버의 좋아요 제거) -->
	<delete id="deleteBLiked" parameterType="BoardIsLikedDto">
		<![CDATA[
        	delete from BOARDLIKED where b_no = #{likebno} and m_no = #{likebmno}
        ]]>
	</delete>
	<!--게시글의 모든 좋아요 삭제  -->
	<delete id="deleteAllBLiked" parameterType="BoardIsLikedDto">
		<![CDATA[
        	delete from BOARDLIKED where b_no = #{bno}
        ]]>
	</delete>
	
	<!-- 게시글 페이징 -->
	<select id="selectListWithPaging" parameterType="teamproject.ssja.page.Criteria" resultMap="BoardDtoMap">
    	<![CDATA[
        	select * from 
        	(
			    select
			        rownum rnum , A.*
			    from 
			    (select
			     * 
		    	 from board where b_c_no=#{bcno} order by b_no desc) A 
		    	where rownum <= #{pageNum} * #{amount} 
		    )
			where rnum > (#{pageNum}-1) * #{amount}
        ]]>
	</select>


	<!-- 커뮤니티 페이징 -->
	<select id="selectCommunityDto" resultMap="CommunityDtoMap">
    	<![CDATA[
        	select * from 
        	(
			    select
			        rownum rnum , A.*
			    from 
			    (SELECT b.*, bi.b_img_no,bi.b_img_path 
			     FROM board b, board_imgs bi 
			     WHERE b.B_C_NO=40 and b.b_no=bi.b_no and b.b_writer != '관리자' 
			     ORDER BY b.b_no desc) A 
		    	where rownum <= #{pageNum} * #{amount} 
		    )
			where rnum > (#{pageNum}-1) * #{amount}
        ]]>
	</select>

	<!-- 검색조건에 맞는 커뮤니티 페이징 -->
	<select id="selectSearchCommunityDto" resultMap="CommunityDtoMap">
	    	<![CDATA[
	
        	select * from 
        	(
			    select
			        rownum rnum , A.*
			    from 
			    (SELECT b.*, bi.b_img_no,bi.b_img_path 
			     FROM board b, board_imgs bi 
			     WHERE b.B_C_NO=40 and b.b_no=bi.b_no and b.b_writer != '관리자' and
			     ]]>
			     
			   		<choose>
	               <when test="#{option} != null and option.equals('all')">
	                (B_TITLE like '%${keyword}%' or B_CONTENT like '%${keyword}%' or B_WRITER like '%${keyword}%' )
	               </when>      
	               <when test="#{option} != null and option.equals('title')">
	                B_TITLE like '%${keyword}%'
	               </when> 
	               <when test="#{option} != null and option.equals('content')">
	                B_CONTENT like '%${keyword}%'
	               </when> 
	               <when test="#{option} != null and option.equals('title_and_content')">
	                (B_TITLE like '%${keyword}%' or B_CONTENT like '%${keyword}%')
	               </when> 
	               <when test="#{option} != null and option.equals('writer')">
	                B_WRITER like '%${keyword}%'
	               </when> 
               		</choose>
   			<![CDATA[
               		
			     ORDER BY b.b_no desc) A 
		    	where rownum <= #{pageNum} * #{amount}
		    )
			where rnum > (#{pageNum}-1) * #{amount}
	        ]]>
			
	</select>
	<!-- 커뮤니티 베스트글 -->
	<select id="selectBestCommunityDto" resultMap="CommunityDtoMap">
    	<![CDATA[

		    select
		        A.*
		    from 
		    (SELECT b.*, bi.b_img_no,bi.b_img_path 
		     FROM board b, board_imgs bi 
		     WHERE b.B_C_NO=40 and b.b_no=bi.b_no and b.b_writer != '관리자' 
		     ORDER BY b.b_like desc) A 
	    	where rownum <= 4 
	    
        ]]>
	</select>
	<!-- 커뮤니티 게시글을 가져온다.  -->
	<select id="selectCommunityContent" resultMap="CommunityDtoMap">
		<![CDATA[
			    SELECT b.*, bi.b_img_no,bi.b_img_path 
			    FROM board b, board_imgs bi
			    WHERE b.B_C_NO=40 and b.b_no=bi.b_no and b.b_no = #{bno} 
        ]]>
	</select>

	<!-- 게시글 총 개수  -->
	<select id="selectTotalCount" parameterType="long" resultType="long">
    	<![CDATA[
        	SELECT count(*) FROM board where B_C_NO = #{bcno} and b_writer != '관리자'
        ]]>
	</select>

	<!-- 검색조건에 맞는 게시글 총 개수  -->
	<select id="selectSearchTotalCount" resultType="long">
    	SELECT  count(*) FROM board where b_c_no= #{bcno} and b_writer != '관리자' and             
               <choose>
               <when test="#{option} != null and option.equals('all')">
                (B_TITLE like '%${keyword}%' or B_CONTENT like '%${keyword}%' or B_WRITER like '%${keyword}%' )
               </when>      
               <when test="#{option} != null and option.equals('title')">
                B_TITLE like '%${keyword}%'
               </when> 
               <when test="#{option} != null and option.equals('content')">
                B_CONTENT like '%${keyword}%'
               </when> 
               <when test="#{option} != null and option.equals('title_and_content')">
                (B_TITLE like '%${keyword}%' or B_CONTENT like '%${keyword}%')
               </when> 
               <when test="#{option} != null and option.equals('writer')">
                B_WRITER like '%${keyword}%'
               </when> 
                        
               </choose>

	</select>
	<!-- 게시글 이미지 체크  -->
	<select id="selectBoardImg" resultType="int">
		select count(*) from board_imgs WHERE b_no=#{bno}
	</select>
	
	<!-- 게시글 이미지경로 추가  -->
	<insert id="insertBoardImg" parameterType="BoardImgsDto">
		insert into board_imgs VALUES(B_IMG_SEQ.nextval,#{B_NO},#{B_IMG_PATH})
	</insert>
	
	<!-- 게시글 이미지업데이트  -->
	<update id="updateBoardImg" parameterType="BoardImgsDto">
		UPDATE board_imgs SET B_IMG_PATH=#{B_IMG_PATH} WHERE b_no=#{B_NO}
	</update>
	
	<!-- 게시글 이미지 경로 삭제  -->
	<delete id="deleteBoardImg">
		DELETE FROM board_imgs WHERE b_no = #{B_NO}
	</delete>
	
	<!-- 마이페이지 내가 쓴글  -->
	<select id="getMyCommus" resultMap="CommunityDtoMap">
		select m.* ,i.b_img_no, i.b_img_path, (SELECT COUNT(*) FROM replys r WHERE r.b_no = m.b_no) AS countrv from 
		(select a.*, rownum as rnum 
			from 
				(select b.*, COUNT(*) OVER() AS total 
				from board b where b_c_no = 40 and m_no = #{id} order by b_date desc) a 
		)m
		inner join 
			board_imgs i
		on i.b_no = m.b_no
		where rnum between #{pageNum} * 5 - 4  and #{pageNum} * 5
	</select>
	
	<select id="getMyQnAs" resultMap="BoardDtoAndTotMap">
	SELECT 
		m.*, (SELECT COUNT(*) FROM replys r WHERE r.b_no = m.b_no and r.m_no  <![CDATA[  <>   ]]> m.m_no) AS answer
	FROM (
    	SELECT a.*, rownum AS rnum 
    	FROM ( SELECT b.*, COUNT(*) OVER() AS total 
        	FROM board b   WHERE b_c_no = 20 and m_no= #{id}  ORDER BY b_date DESC ) a
    	) m
	WHERE m.rnum between #{pageNum} * 10 - 9 and #{pageNum} * 10
	
	</select>
	<!-- 게시글 최신 공지사항  -->
	<select id="selectNotice" resultMap="BoardDtoMap">
		select * 
		from(SELECT b.* ,rownum rn FROM (select * from board WHERE b_writer='관리자' and b_c_no='40' ORDER by b_date desc) b)
		WHERE rn=1	
	</select>
	
	<resultMap type="teamproject.ssja.dto.BoardCategoryDto" id="BoardCategoryDtoMap">
		<id property="bcno" column="b_c_no"/>
		<result property="bcname" column="b_c_name"/>
	</resultMap>
	

	<!-- 게시글 맵 -->
	<resultMap type="teamproject.ssja.dto.BoardDto" id="BoardDtoMap">
		<id property="bno" column="b_no"/>
		<result property="bmno" column="m_no"/>
		<result property="bbcno" column="b_c_no"/>
		<result property="bwriter" column="b_writer"/>
		<result property="btitle" column="b_title"/>
		<result property="bcontent" column="b_content"/>
		<result property="bdate" column="b_date"/>
		<result property="blike" column="b_like"/>
		<result property="bhit" column="b_hit"/>
		<result property="beval" column="b_eval"/>
		<result property="prono" column="pro_no"/>
	</resultMap>
		<resultMap type="teamproject.ssja.dto.BoardDto" id="BoardDtoAndTotMap">
		<id property="bno" column="b_no"/>
		<result property="bmno" column="m_no"/>
		<result property="bbcno" column="b_c_no"/>
		<result property="bwriter" column="b_writer"/>
		<result property="btitle" column="b_title"/>
		<result property="bcontent" column="b_content"/>
		<result property="bdate" column="b_date"/>
		<result property="blike" column="b_like"/>
		<result property="bhit" column="b_hit"/>
		<result property="total" column="total"/>
		<result property="existAns" column="answer"/>
	</resultMap>
	
	<!-- 해당 게시글 좋아요 여부 맵 -->
	<resultMap type="teamproject.ssja.dto.BoardIsLikedDto" id="BoardIsLikedMap">
		<result property="likebno" column="b_no"/>
		<result property="likebmno" column="m_no"/>
		<result property="bldate" column="b_l_date"/>
	</resultMap>

	<!-- 커뮤니티 맵 -->
	<resultMap type="teamproject.ssja.dto.community.CommunityBoardDto" id="CommunityDtoMap">
		<id property="bno" column="b_no"/>
		<result property="bmno" column="m_no"/>
		<result property="bbcno" column="b_c_no"/>
		<result property="bwriter" column="b_writer"/>
		<result property="btitle" column="b_title"/>
		<result property="bcontent" column="b_content"/>
		<result property="bdate" column="b_date"/>
		<result property="blike" column="b_like"/>
		<result property="bhit" column="b_hit"/>
		<result property="beval" column="b_eval"/>
		<result property="prono" column="pro_no"/>
		<result property="img_no" column="B_IMG_NO"/>
		<result property="img_path" column="B_IMG_PATH"/>
		<result property="total" column="total"/>
		<result property="countrv" column="countrv"/>
	</resultMap>
</mapper>