<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="teamproject.ssja.mapper.ProductListMapper">

	<select id="getProductList" parameterType="teamproject.ssja.dto.product.ProductCondition" resultType="teamproject.ssja.dto.product.ProductItemDto">
    SELECT * FROM (
        SELECT sub.*, ROW_NUMBER() OVER (ORDER BY 
            <choose>
                <when test="conditionSelect != null and conditionSelect != ''">
                    ${conditionSelect}
                </when>
                <otherwise>pro_sellcount DESC</otherwise>
            </choose>
            <if test='conditionName != null and conditionName != ""'>, ${conditionName}</if>
        ) AS rnum FROM (  SELECT p.*,
            (SELECT COUNT(b.pro_no) FROM board b WHERE b.pro_no = p.pro_no) AS REVIEW_COUNT,
            (SELECT avg(b.b_eval) FROM board b WHERE b.pro_no = p.pro_no) AS RATING_AVG
            FROM product p
            <where>
                <if test="category != null and category != ''">
                    AND p.p_c_no = #{category}
                </if>
                <if test="conditionEnd != null and conditionEnd != '' and conditionEnd > 0 and conditionStart >= 0">
                    AND p.pro_price BETWEEN #{conditionStart} AND #{conditionEnd}
                </if>
            </where>
        ) sub ) WHERE rnum BETWEEN (#{pageNum} * #{amount} - 39) AND (#{pageNum} * #{amount})
</select>
	
	
	
	
	<select id="getTotalCountItems" parameterType="teamproject.ssja.dto.product.ProductCondition" resultType="int">
	select count(*) from product 
	<where>
		<if test="category != null and category != ''">
			AND p_c_no = #{category}
		</if>
		<if test="conditionEnd != null and conditionEnd != '' and conditionEnd > 0 and conditionStart >= 0">
			AND pro_price BETWEEN #{conditionStart} AND #{conditionEnd}
		</if>
	</where>
	</select>
	
	<select id="bestItemsList" parameterType="int" resultType="teamproject.ssja.dto.product.ProductItemDto">
 		SELECT a.*,(select count (b.pro_no) from board b where a.pro_no=b.pro_no) as review_count,
 		(SELECT AVG(b.b_eval)   FROM board b  WHERE b.pro_no = a.pro_no) AS RATING_AVG
		FROM ( SELECT pro_no,  pro_price,  pro_bannerimg,  pro_wish,  pro_name, pro_sellcount, pro_bizname,
        ROW_NUMBER() OVER ( ORDER BY pro_sellcount DESC, pro_wish DESC ) AS rnum FROM product) a WHERE rnum between #{page}*8+1 and #{page}*8+8
	</select>
	

	<select id="getYourItemCrat" resultType="teamproject.ssja.dto.userinfo.CartItemsDTO">
    <![CDATA[
        SELECT i.pro_no, i.i_quantity, p.pro_name, p.pro_price, p.pro_bannerIMG 
        FROM ( SELECT *  FROM 
        (SELECT t.*, ROW_NUMBER() OVER (ORDER BY i_date DESC) AS rnum  
        FROM item_cart t)  WHERE rnum <= 5) i 
        INNER JOIN product p 
        ON i.pro_no = p.pro_no 
        WHERE i.m_no = #{m_no}
        ]]>
	</select>
	
	<select id="getCategoryItems" resultType="teamproject.ssja.dto.product.ProductItemDto">
select a.*, (SELECT AVG(b.b_eval)   FROM board b  WHERE b.pro_no = a.pro_no) AS rating_avg
 from (select p.*,   ROW_NUMBER() OVER (ORDER BY p.pro_hit DESC) AS rnum 
			FROM product p where p_c_no between #{categoryNum}*10 and #{categoryNum}*10 + 9) a 
			where rnum between #{pageNum}*8+1 and #{pageNum}*8+8	
	</select>
	
	<select id="getProducts" resultType="ProductDto">
		<![CDATA[select * from (select p.*, rownum rn from product p where p.pro_name like #{keyword}) where rn<4]]>
	</select>

	
</mapper>
