<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="teamproject.ssja.mapper.OrdersMapper">
	
	<insert id="insertOrder">
		INSERT INTO orders 
		VALUES(O_SEQ.nextval,#{PUR_NO},#{PRO_NO},#{O_QUANTITY},#{O_DISCOUNT},#{O_PRICE},#{O_PAY},#{O_USECOUPON},#{O_STATE})	
		
	
	</insert>
	
</mapper>