<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="teamproject.ssja.mapper.ProductMapper">
		<select id="getList" resultType="ProductDto">    
	    <![CDATA[
	       select * from product
	        ]]>
		</select>
		
		<select id="read" resultType="ProductDto">    
    <![CDATA[
      select * from product where PRO_NO=#{PRO_NO}
        ]]>
	</select>

</mapper>
