<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="teamproject.ssja.mapper.ProductDetailMapper">


<resultMap id="ProductDetailMap" type="ProductDetailDto">
		<id property="PRO_NO" column="PRO_NO" />
		<result property="V_NO" column="V_NO" />
		<result property="PRO_NAME" column="PRO_NAME" />
		<result property="PRO_PRICE" column="PRO_PRICE" />
		<result property="PRO_QUANTITY" column="PRO_QUANTITY" />
		<result property="PRO_BANNERIMG" column="PRO_BANNERIMG" />
		<result property="PRO_WISH" column="PRO_WISH" />
		<result property="PRO_SELLCOUNT" column="PRO_SELLCOUNT" />
		<result property="PRO_HIT" column="PRO_HIT" />
		<result property="PRO_BIZNAME" column="PRO_BIZNAME" />
		<result property="M_NO" column="M_NO" />
		<result property="V_BIZNAME" column="V_BIZNAME" />
		<result property="V_LICENSE" column="V_LICENSE" />
		<result property="M_NAME" column="M_NAME" />
		<result property="M_ADDRESS1" column="M_ADDRESS1" />
		<result property="M_ADDRESS2" column="M_ADDRESS2" />
		<result property="M_ZIPCODE" column="M_ZIPCODE" />
		<result property="M_EMAIL" column="M_EMAIL" />
		<result property="M_PHONE" column="M_PHONE" />
		<result property="PRO_DATE" column="PRO_DATE"/>
	</resultMap>

	<select id="read" resultMap="ProductDetailMap">
	    <![CDATA[		
	   SELECT  P.PRO_NO, V.V_NO, P.PRO_NAME, P.PRO_PRICE, P.PRO_QUANTITY, P.PRO_BANNERIMG, 
        P.PRO_WISH, P.PRO_SELLCOUNT, P.PRO_HIT, P.PRO_BIZNAME, P.PRO_DATE, M.M_EMAIL, M.M_NO, 
        V.V_BIZNAME, V.V_LICENSE, M.M_NAME, M.M_ADDRESS1, M.M_ADDRESS2, 
        M.M_ZIPCODE, M.M_EMAIL, M.M_PHONE
		FROM PRODUCT P
		INNER JOIN VENDOR V ON P.V_NO = V.V_NO
		INNER JOIN MEMBERS M ON V.M_NO = M.M_NO
		WHERE P.PRO_NO = #{PRO_NO}
	     ]]>
	</select>
	
	<select id="getProduct" resultType="ProductDto">
	    <![CDATA[		
	   SELECT * from product WHERE PRO_NO = #{PRO_NO}
	     ]]>
	</select>

	<select id="getCartProduct" resultType="ProductDto">
	    <![CDATA[		
		   	select p.pro_no,p.v_no,p.p_c_no,p.pro_price,i.i_quantity as "PRO_QUANTITY",p.pro_bannerimg,p.pro_wish,p.pro_sellcount,p.pro_hit,p.pro_bizname,p.pro_name,p.pro_date
			from item_cart i, product p
			where i.pro_no=p.pro_no and i.m_no=#{M_NO} and  i.pro_no=#{PRO_NO}
	     ]]>
	</select>

	 <resultMap id="ProductDetailReplyMap"  type="ProductDetailReplyDto">
		<id property="PRO_NO" column="PRO_NO" />
		<result property="B_WRITER" column="B_WRITER" />
		<result property="B_DATE" column="B_DATE" />
		<result property="B_CONTENT" column="B_CONTENT" />
		<result property="B_EVAL" column="B_EVAL" />
	</resultMap>

	<select id="getTotalCount" resultType="long">    
    <![CDATA[
      select count(*) from ( SELECT  P.PRO_NO, B.B_WRITER, B_DATE, B_CONTENT, B_EVAL
	    FROM PRODUCT P
	    INNER JOIN BOARD B ON P.PRO_NO = B.PRO_NO
	    WHERE P.PRO_NO = #{PRO_NO})
        ]]>
	</select>
	
	<select id="getListWithPaging" resultMap="ProductDetailReplyMap">    
    <![CDATA[
	SELECT * FROM (
    	SELECT ROWNUM AS RNUM, A.* FROM (
        	select * from ( SELECT  P.PRO_NO, B.B_WRITER, B_DATE, B_CONTENT, B_EVAL
	    FROM PRODUCT P
	    INNER JOIN BOARD B ON P.PRO_NO = B.PRO_NO
	    WHERE P.PRO_NO = #{PRO_NO})
   		) A WHERE ROWNUM <= #{pageNum}*#{amount}
	)WHERE RNUM > (#{pageNum}-1)*#{amount}
    ]]>
	</select>

	<update id="updateProductQuantity">
		UPDATE product SET PRO_QUANTITY = PRO_QUANTITY-#{O_QUANTITY}, PRO_SELLCOUNT=PRO_SELLCOUNT+#{O_QUANTITY} where pro_no=#{PRO_NO} 
	</update>


<select id="getItemsReview" resultType="teamproject.ssja.dto.product.ProductReviewDTO">


	SELECT a.*, b.rv_img FROM (
		SELECT b.*, row_number() over(order by b_date desc) as rnum,
		COUNT(*) OVER () AS total FROM board b
		WHERE pro_no = #{productNum} and b_c_no = 30) a
	left JOIN (
		SELECT B_IMG_PATH as rv_img, b_no FROM board_imgs) b 
	ON a.B_NO = b.B_NO
	WHERE a.rnum BETWEEN ${pageNum} * 10 - 9 and ${pageNum} * 10

	</select>
	
<select id="getProductDetailInfo" resultMap="productMap">
    SELECT 
        z.pro_no, z.v_no, z.p_c_no, z.pro_price, z.pro_quantity, z.pro_bannerimg, 
        z.pro_wish, z.pro_sellcount, z.pro_bizname, z.pro_name, z.avgeval, z.v_license, z.pro_hit,
        z.m_name, z.m_address1, z.m_address2, z.m_email, z.m_phone, z.countrv, i.pro_img_path, z.category1, z.category2
    FROM (
        SELECT a.pro_no, a.v_no, a.p_c_no, a.pro_price, a.pro_quantity, a.pro_bannerimg, 
               a.pro_wish, a.pro_sellcount, a.pro_bizname, a.pro_name, a.avgEval, a.countrv,
               s.v_license, s.m_name, s.m_address1, s.m_address2, s.m_email, s.m_phone,
               SUBSTR(a.cate,1,INSTR(a.cate,'-') - 1) as category1, 
               SUBSTR(a.cate,INSTR(a.cate,'-') + 1) as category2, a.pro_hit
        FROM (
            SELECT 
                p.*,  nvl((SELECT AVG(b.b_eval) FROM board b WHERE b.b_c_no = 30 and b.pro_no = p.pro_no),0) AS avgEval,
                (SELECT COUNT(b.pro_no) FROM board b WHERE b.pro_no = p.pro_no) AS countrv,
                (select p_c_name from product_category t where t.p_c_no = p.p_c_no) as cate
            FROM product p   WHERE p.pro_no = #{productNum}
        ) a
        INNER JOIN (
            SELECT 
                v.*,  m.m_address1, m.m_address2, m.m_email, m.m_phone, m.m_name
            FROM vendor v
            INNER JOIN 
                members m ON m.m_no = v.m_no  ) s ON s.v_no = a.v_no
    ) z
     left JOIN (
        SELECT  pro_no, pro_img_path 
        FROM  product_imgs  ORDER BY  pro_img_path 
        ) i 
        ON z.pro_no = i.pro_no
</select>


<update id="deleteStateItem" >
	update product set pro_quantity = 0, pro_bannerimg = '/images/utilities/non_exist_item.png', 
	pro_wish=0, pro_sellcount=0, pro_hit=0 where pro_no = #{productNum}
</update>

<resultMap id="productMap" type="teamproject.ssja.dto.product.ProductDetailTotalInfoDTO">
    <id property="pro_no" column="pro_no"/>
    <result property="v_no" column="v_no"/>
    <result property="p_c_no" column="p_c_no"/>
    <result property="pro_quantity" column="pro_quantity"/>
    <result property="pro_price" column="pro_price"/>
    <result property="pro_bannerimg" column="pro_bannerimg"/>
    <result property="pro_wish" column="pro_wish"/>
    <result property="pro_sellcount" column="pro_sellcount"/>
    <result property="pro_bizname" column="pro_bizname"/>
    <result property="pro_name" column="pro_name"/>
    <result property="avgeval" column="avgeval"/>
    <result property="v_license" column="v_license"/>
    <result property="m_name" column="m_name"/>
    <result property="m_address1" column="m_address1"/>
    <result property="m_address2" column="m_address2"/>
    <result property="m_email" column="m_email"/>
    <result property="m_phone" column="m_phone"/>
    <result property="countrv" column="countrv"/>
    <result property="category1" column="category1"/>
    <result property="category2" column="category2"/>
    <result property="pro_hit" column="pro_hit"/>
    <!-- 제품 이미지 리스트 매핑 -->
    <collection property="imgList" ofType="productImgMap" resultMap="productImgMap"/>
</resultMap>
<resultMap id="productImgMap" type="ProductImgDTO">
    <id property="piPath" column="pro_img_path"/>
    <result property="pNo" column="pro_no"/>
</resultMap>

	
</mapper>
